.achieve {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/hire-me.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/hire-me.jpg);
  background-position: 0% 50%;
  background-size: cover;
}

.achievements {
  border: 1px dotted var(--third-color);
  padding: 15px;
}

.achieve i {
  color: #fff;
  font-size: 45px;
}

.achieve h4 {
  color: #fff;
  font-size: 45px;
  margin-top: 20px;
}

.achieve p {
  margin: 0px;
}
