/* No CSS */
.achieve {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(/images/hire-me.jpg);
    background-position: 0% 50%;
    background-size: cover;
    color: #fff;   
}

.achieve i {
    margin-top: 20px;
    font-size: 40px;
}

.achieve h4 {
    font-size: 40px;
    margin-top: 10px;
}

.achieve p {
    margin-top: 0px;
}

.achievements {
    border: 1px dotted #fff;
}