.blog {
  background-color: var(--border);
}

.blog .row .blogs {
  position: relative;
  margin-top: 30px;
}

.blog .row .blogs .play {
  position: absolute;
  left: 50%;
  top: 90px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 65px;
  height: 65px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.blog .row .blogs .play .fa {
  margin-top: 23px;
  margin-left: 2px;
  font-size: 18px;
}

.blog .row .blogs h2 {
  margin-top: 15px;
}

.blog .row .blogs img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.blog .row .blogs .hobby {
  width: 100%;
  display: inline-block;
  margin: 20px 0;
}

.blog .row .blogs .more {
  color: var(--third-color);
  font-size: 16px;
}

.blog .row .blogs a {
  text-decoration: none;
  color: black;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 5px;
  right: 25px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

#videoStory {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

#videoStory iframe {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.carousel {
  position: relative;
}

.carousel .slides {
  -webkit-transition: 1s;
  transition: 1s;
}

.carousel .left {
  position: absolute;
  top: 50%;
  left: 10px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.carousel .right {
  position: absolute;
  top: 50%;
  right: 10px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  cursor: pointer;
}
