.blog {
  background-color: var(--border);
}

.blog .row .blogs {
  position: relative;
}

.blog .row .blogs .play {
  position: absolute;
  left: 50%;
  top: 90px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 65px;
  height: 65px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.blog .row .blogs .play .fa {
  margin-top: 23px;
  margin-left: 2px;
  font-size: 18px;
}

.blog .row .blogs h2 {
  margin-top: 15px;
}

.blog .row .blogs img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.blog .row .blogs .hobby {
  width: 100%;
  display: inline-block;
  margin: 20px 0;
}

.blog .row .blogs .more {
  color: var(--third-color);
  font-size: 16px;
}

.blog .row .blogs a {
  text-decoration: none;
  color: black;
}

.mfp-hide {
  display: none !important;
}
