#footer {
    padding: 30px;
    margin-bottom: -40px;
}

#footer i {
    float: right;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 10px;
    border: 1.5px solid var(--third-color);
    border-radius: 50%;
    transition: all 0.5s;
}

#socials {
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer i:hover {
    transform: rotate(360deg);
    border: 1.5px solid #000;
    color: #000;
    cursor: pointer;
}

#footer p {
    width: 100%;
    line-height: 40px;
    text-align: left;
}


@media (max-width: 1000px) {
    #footer i {
        float: none;
    }
    #socials {
    margin-top: 0;
}
    #footer p {
        text-align: center;
        margin-bottom: 0;
    }
}

