:root {
    --gap: 15px;
    --c1: calc(100% / 12 - 2 * var(--gap));
    --c2: calc(var(--c1) * 2 + 2 * var(--gap));
    --c3: calc(var(--c2) + var(--c1) + 2 * var(--gap));
    --c4: calc(var(--c3) + var(--c1) + 2 * var(--gap));
    --c5: calc(var(--c4) + var(--c1) + 2 * var(--gap));
    --c6: calc(var(--c5) + var(--c1) + 2 * var(--gap));
    --c7: calc(var(--c6) + var(--c1) + 2 * var(--gap));
    --c8: calc(var(--c7) + var(--c1) + 2 * var(--gap));
    --c9: calc(var(--c8) + var(--c1) + 2 * var(--gap));
    --c10: calc(var(--c9) + var(--c1) + 2 * var(--gap));
    --c11: calc(var(--c10) + var(--c1) + 2 * var(--gap));
    --c12: calc(var(--c11) + var(--c1) + 2 * var(--gap));

    --m0: var(--gap);
    --m1: calc(var(--c1) + 3 * var(--gap));
    --m2: calc(var(--c2) + 3 * var(--gap));
    --m3: calc(var(--c3) + 3 * var(--gap));
    --m4: calc(var(--c4) + 3 * var(--gap));
    --m5: calc(var(--c5) + 3 * var(--gap));
    --m6: calc(var(--c6) + 3 * var(--gap));
    --m7: calc(var(--c7) + 3 * var(--gap));
    --m8: calc(var(--c8) + 3 * var(--gap));
    --m9: calc(var(--c9) + 3 * var(--gap));
    --m10: calc(var(--c10) + 3 * var(--gap));
    --m11: calc(var(--c11) + 3 * var(--gap));
    --m12: calc(var(--c12) + 3 * var(--gap));
}

.container {
    display: inline-block;
    width: 100%;
    padding: 80px 0;

    > .row {
        display: inline-block;
        width: 1200px;
        margin: 10px calc(50% - 600px);

        > .col-1,
        > .col-2,
        > .col-3,
        > .col-4,
        > .col-5,
        > .col-6,
        > .col-7,
        > .col-8,
        > .col-9,
        > .col-10,
        > .col-11,
        > .col-12
         {
            display: inline-block;
            min-height: 1px;
            float: left;
            margin-left: var(--gap);
            margin-right: var(--gap);
        }
        > .col-1 { width: var(--c1); }
        > .col-2 { width: var(--c2); }
        > .col-3 { width: var(--c3); }
        > .col-4 { width: var(--c4); }
        > .col-5 { width: var(--c5); }
        > .col-6 { width: var(--c6); }
        > .col-7 { width: var(--c7); }
        > .col-8 { width: var(--c8); }
        > .col-9 { width: var(--c9); }
        > .col-10 { width: var(--c10); }
        > .col-11 { width: var(--c11); }
        > .col-12 { width: var(--c12); }

        > .m-l-0 { margin-left: var(--m0); }
        > .m-l-1 { margin-left: var(--m1); }
        > .m-l-2 { margin-left: var(--m2); }
        > .m-l-3 { margin-left: var(--m3); }
        > .m-l-4 { margin-left: var(--m4); }
        > .m-l-5 { margin-left: var(--m5); }
        > .m-l-6 { margin-left: var(--m6); }
        > .m-l-7 { margin-left: var(--m7); }
        > .m-l-8 { margin-left: var(--m8); }
        > .m-l-9 { margin-left: var(--m9); }
        > .m-l-10 { margin-left: var(--m10); }
        > .m-l-11 { margin-left: var(--m11); }
        > .m-l-12 { margin-left: var(--m12); }

        > .m-r-0 { margin-right: var(--m0); }
        > .m-r-1 { margin-right: var(--m1); }
        > .m-r-2 { margin-right: var(--m2); }
        > .m-r-3 { margin-right: var(--m3); }
        > .m-r-4 { margin-right: var(--m4); }
        > .m-r-5 { margin-right: var(--m5); }
        > .m-r-6 { margin-right: var(--m6); }
        > .m-r-7 { margin-right: var(--m7); }
        > .m-r-8 { margin-right: var(--m8); }
        > .m-r-9 { margin-right: var(--m9); }
        > .m-r-10 { margin-right: var(--m10); }
        > .m-r-11 { margin-right: var(--m11); }
        > .m-r-12 { margin-right: var(--m12); }
    }
}