.logo {
  margin: 30px 0;
}

.design {
  font-size: 20px;
  position: relative;
}

.middle {
  margin: 0 30px;
}

.middle::before {
  display: inline-block;
  content: '';
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: var(--third-color);
  position: absolute;
  top: 12px;
  left: -20px;
}

.middle::after {
  display: inline-block;
  content: '';
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: var(--third-color);
  position: absolute;
  top: 12px;
  right: -20px;
}

.progress-bar {
  display: inline-block;
  width: 46%;
  margin: 15px 20px;
}

.progress-bar > .texts {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 20px;
}

.progress-bar > .texts > .title {
  display: inline-block;
  float: left;
}

.progress-bar > .texts > .value {
  display: inline-block;
  float: right;
  color: var(--third-color);
}

.progress-bar > .bar {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #ccc;
  overflow: hidden;
  text-align: left;
}

.progress-bar > .bar > .value {
  display: inline-block;
  width: 90%;
  height: 100%;
  text-align: left;
}

.progress-bar > .bar > .value > .loading {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: var(--secondary-color);
  /* animation-name: loading;
                animation-iteration-count: 1;
                animation-duration: 10s;
                animation-fill-mode: forwards;
                animation-direction: alternate; */
  -webkit-animation: loading 2s linear forwards;
          animation: loading 2s linear forwards;
}

@-webkit-keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@media (max-width: 1000px){

  .progress-bar{
    width:100%;
    margin:10px 0;
  }
  }

@media (max-width: 600px){

.progress-bar{
  width:100%;
  margin:10px 0;
}
.middle::after{
  display: none;
}
.middle::before{
  display: none;
}

}