.services{
    border: 0.5px dotted var(--border);
    margin-top: 40px;
    border-radius: 5px;
    >.content{
        padding: 25px 25px;
        >.fa{
            font-size: 30px;
            width: 30px;
            height: 30px;
            display: inline-block;
            color: #31252F;
         
        }
        >h5{
            font-size: 26px;
            margin-top: 25px;
            color: #212535;
        }
        >p{
            font-size: 16px;
            margin-top: 25px;
            color: var(--third-color);
        }
    }
}