.services {
  border: 0.5px dotted var(--border);
  margin-top: 40px;
  border-radius: 5px;
}

.services > .content {
  padding: 25px 25px;
}

.services > .content > .fa {
  font-size: 30px;
  width: 30px;
  height: 30px;
  display: inline-block;
  color: #31252F;
}

.services > .content > h5 {
  font-size: 26px;
  margin-top: 25px;
  color: #212535;
}

.services > .content > p {
  font-size: 16px;
  margin-top: 25px;
  color: var(--third-color);
}
