/* No CSS */
.clients {
    color: #fff;
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/testimonials.jpg);
      background-size: cover;

}
.client {
    margin-bottom: 50px;
}
.client p {
    color: #fff;
}
.testimonials {
    display: inline-block;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.big {
    display: flex;
    width: 300%;
}
.testimonial > * {
    display: inline-block;
    width: 100%;
}
.testimonial i {
    font-size: 50px;
    margin-bottom: 15px;
}
.testimonial p {
    width: 50%;
    color: #fff;
}
.bars {
    display: block;
}
.bar1, .bar2, .bar3 {
    margin-top: 20px;
    display: inline-block;
    width: 15px;
    height: 6px;
    border-radius: 3px;
    background-color: rgb(134, 134, 134);
    cursor: pointer;
}
.bar1:hover, .bar2:hover, .bar3:hover {
    transition: .5s;
    background-color: #fff;
}
.activeBar {
    width: 20px;
    background-color: #fff;
}